In [16]:
import pandas as pd
import numpy as np

In [17]:
data=pd.read_csv('data.csv')

In [18]:
del data['Unnamed: 0']
del data['id']
data

,loanAmnt,term,interestRate,installment,employmentLength,annualIncome,issueDate,isDefault,dti,delinquency_2years,...,regionCode_47,regionCode_48,regionCode_49,regionCode_50,employmentTitle_cnts,employmentTitle_rank,postCode_cnts,postCode_rank,title_cnts,title_rank
0,35000.0,5,19.52,917.97,2.0,110000.0,2014,1.0,17.05,0.0,...,0,0,0,0,1392.0,1392,2646.0,2646,8687.0,8687
1,18000.0,5,18.49,461.90,5.0,46000.0,2012,0.0,27.83,0.0,...,0,0,0,0,151.0,151,4751.0,4751,37.0,37
2,12000.0,5,16.99,298.17,8.0,74000.0,2015,0.0,22.77,0.0,...,0,0,0,0,2.0,2,2167.0,2167,491400.0,491400
3,11000.0,3,7.26,340.96,10.0,118000.0,2015,0.0,17.21,0.0,...,0,0,0,0,2.0,2,689.0,689,185386.0,185386
4,3000.0,3,12.99,101.07,NaN,29000.0,2016,0.0,32.16,0.0,...,0,0,0,0,63978.0,63978,2161.0,2161,5896.0,5896
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,7000.0,3,11.14,229.64,7.0,30000.0,2012,NaN,32.92,0.0,...,0,0,0,0,1.0,1,2061.0,1,1.0,1
999996,6000.0,3,6.24,183.19,1.0,56000.0,2015,NaN,20.38,0.0,...,0,0,0,0,2.0,1,2016.0,1,491400.0,2
999997,14000.0,5,15.88,339.57,8.0,80000.0,2013,NaN,15.12,0.0,...,0,0,0,0,1.0,1,485.0,1,185386.0,2
999998,8000.0,3,18.06,289.47,4.0,190000.0,2017,NaN,9.33,0.0,...,0,0,0,0,5634.0,1,5847.0,1,491400.0,1
999999,8000.0,3,6.68,245.85,7.0,46000.0,2015,NaN,6.47,0.0,...,0,0,0,0,1392.0,1,9188.0,1,185386.0,1

In [19]:
# 将训练集与测试集分开
features = [f for f in data.columns if f not in ['id','issueDate','isDefault']]

In [20]:
features

['loanAmnt',
 'term',
 'interestRate',
 'installment',
 'employmentLength',
 'annualIncome',
 'dti',
 'delinquency_2years',
 'ficoRangeLow',
 'ficoRangeHigh',
 'openAcc',
 'pubRec',
 'pubRecBankruptcies',
 'revolBal',
 'revolUtil',
 'totalAcc',
 'initialListStatus',
 'applicationType',
 'earliesCreditLine',
 'n0',
 'n1',
 'n2',
 'n3',
 'n4',
 'n5',
 'n6',
 'n7',
 'n8',
 'n9',
 'n10',
 'n11',
 'n12',
 'n13',
 'n14',
 'grade_B',
 'grade_C',
 'grade_D',
 'grade_E',
 'grade_F',
 'grade_G',
 'subGrade_A2',
 'subGrade_A3',
 'subGrade_A4',
 'subGrade_A5',
 'subGrade_B1',
 'subGrade_B2',
 'subGrade_B3',
 'subGrade_B4',
 'subGrade_B5',
 'subGrade_C1',
 'subGrade_C2',
 'subGrade_C3',
 'subGrade_C4',
 'subGrade_C5',
 'subGrade_D1',
 'subGrade_D2',
 'subGrade_D3',
 'subGrade_D4',
 'subGrade_D5',
 'subGrade_E1',
 'subGrade_E2',
 'subGrade_E3',
 'subGrade_E4',
 'subGrade_E5',
 'subGrade_F1',
 'subGrade_F2',
 'subGrade_F3',
 'subGrade_F4',
 'subGrade_F5',
 'subGrade_G1',
 'subGrade_G2',
 'subGrade_G3',
 'subGrade_G4',
 'subGrade_G5',
 'homeOwnership_1',
 'homeOwnership_2',
 'homeOwnership_3',
 'homeOwnership_4',
 'homeOwnership_5',
 'verificationStatus_1',
 'verificationStatus_2',
 'purpose_1',
 'purpose_2',
 'purpose_3',
 'purpose_4',
 'purpose_5',
 'purpose_6',
 'purpose_7',
 'purpose_8',
 'purpose_9',
 'purpose_10',
 'purpose_11',
 'purpose_12',
 'purpose_13',
 'regionCode_1',
 'regionCode_2',
 'regionCode_3',
 'regionCode_4',
 'regionCode_5',
 'regionCode_6',
 'regionCode_7',
 'regionCode_8',
 'regionCode_9',
 'regionCode_10',
 'regionCode_11',
 'regionCode_12',
 'regionCode_13',
 'regionCode_14',
 'regionCode_15',
 'regionCode_16',
 'regionCode_17',
 'regionCode_18',
 'regionCode_19',
 'regionCode_20',
 'regionCode_21',
 'regionCode_22',
 'regionCode_23',
 'regionCode_24',
 'regionCode_25',
 'regionCode_26',
 'regionCode_27',
 'regionCode_28',
 'regionCode_29',
 'regionCode_30',
 'regionCode_31',
 'regionCode_32',
 'regionCode_33',
 'regionCode_34',
 'regionCode_35',
 'regionCode_36',
 'regionCode_37',
 'regionCode_38',
 'regionCode_39',
 'regionCode_40',
 'regionCode_41',
 'regionCode_42',
 'regionCode_43',
 'regionCode_44',
 'regionCode_45',
 'regionCode_46',
 'regionCode_47',
 'regionCode_48',
 'regionCode_49',
 'regionCode_50',
 'employmentTitle_cnts',
 'employmentTitle_rank',
 'postCode_cnts',
 'postCode_rank',
 'title_cnts',
 'title_rank']

In [21]:
# train = data[data.isDefault.notnull()].reset_index(drop=True)
# test = data[data.isDefault.isnull()].reset_index(drop=True)
train=data[data.isDefault.notnull()].reset_index(drop=True)
test=data[data.isDefault.isnull()].reset_index(drop=True)

In [22]:
train

,loanAmnt,term,interestRate,installment,employmentLength,annualIncome,issueDate,isDefault,dti,delinquency_2years,...,regionCode_47,regionCode_48,regionCode_49,regionCode_50,employmentTitle_cnts,employmentTitle_rank,postCode_cnts,postCode_rank,title_cnts,title_rank
0,35000.0,5,19.52,917.97,2.0,110000.0,2014,1.0,17.05,0.0,...,0,0,0,0,1392.0,1392,2646.0,2646,8687.0,8687
1,18000.0,5,18.49,461.90,5.0,46000.0,2012,0.0,27.83,0.0,...,0,0,0,0,151.0,151,4751.0,4751,37.0,37
2,12000.0,5,16.99,298.17,8.0,74000.0,2015,0.0,22.77,0.0,...,0,0,0,0,2.0,2,2167.0,2167,491400.0,491400
3,11000.0,3,7.26,340.96,10.0,118000.0,2015,0.0,17.21,0.0,...,0,0,0,0,2.0,2,689.0,689,185386.0,185386
4,3000.0,3,12.99,101.07,NaN,29000.0,2016,0.0,32.16,0.0,...,0,0,0,0,63978.0,63978,2161.0,2161,5896.0,5896
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799995,25000.0,3,14.49,860.41,7.0,72000.0,2016,0.0,19.03,0.0,...,0,0,0,0,398.0,77,4093.0,852,491400.0,98068
799996,17000.0,3,7.90,531.94,10.0,99000.0,2013,0.0,15.72,1.0,...,0,0,0,0,17.0,6,486.0,104,1.0,1
799997,6000.0,3,13.33,203.12,10.0,65000.0,2015,1.0,12.11,1.0,...,0,0,0,0,346.0,59,966.0,204,491400.0,98067
799998,19200.0,3,6.92,592.14,10.0,96000.0,2015,0.0,29.25,0.0,...,0,0,0,0,6533.0,1341,1263.0,227,185386.0,37177
799999,9000.0,3,11.06,294.91,5.0,120000.0,2018,0.0,8.99,0.0,...,0,0,0,0,2307.0,452,6823.0,1359,185386.0,37176

In [23]:
test

,loanAmnt,term,interestRate,installment,employmentLength,annualIncome,issueDate,isDefault,dti,delinquency_2years,...,regionCode_47,regionCode_48,regionCode_49,regionCode_50,employmentTitle_cnts,employmentTitle_rank,postCode_cnts,postCode_rank,title_cnts,title_rank
0,14000.0,3,10.99,458.28,10.0,80000.0,2014,NaN,10.56,1.0,...,0,0,0,0,50.0,9,998.0,202,491400.0,98066
1,20000.0,5,14.65,472.14,10.0,50000.0,2015,NaN,21.40,2.0,...,0,0,0,0,1.0,1,5954.0,1172,55782.0,11034
2,12000.0,3,19.99,445.91,2.0,60000.0,2016,NaN,33.50,0.0,...,0,0,0,0,2.0,1,1568.0,300,491400.0,98065
3,17500.0,5,14.31,410.02,4.0,37000.0,2014,NaN,13.95,0.0,...,0,0,0,0,39.0,8,1689.0,340,185386.0,37175
4,35000.0,3,17.09,1249.42,0.0,80000.0,2017,NaN,24.97,0.0,...,0,0,0,0,1.0,1,2616.0,536,491400.0,98064
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,7000.0,3,11.14,229.64,7.0,30000.0,2012,NaN,32.92,0.0,...,0,0,0,0,1.0,1,2061.0,1,1.0,1
199996,6000.0,3,6.24,183.19,1.0,56000.0,2015,NaN,20.38,0.0,...,0,0,0,0,2.0,1,2016.0,1,491400.0,2
199997,14000.0,5,15.88,339.57,8.0,80000.0,2013,NaN,15.12,0.0,...,0,0,0,0,1.0,1,485.0,1,185386.0,2
199998,8000.0,3,18.06,289.47,4.0,190000.0,2017,NaN,9.33,0.0,...,0,0,0,0,5634.0,1,5847.0,1,491400.0,1
199999,8000.0,3,6.68,245.85,7.0,46000.0,2015,NaN,6.47,0.0,...,0,0,0,0,1392.0,1,9188.0,1,185386.0,1

In [24]:
x_train = train[features]
x_test = test[features]
y_train = train['isDefault']

In [25]:
x_test

,loanAmnt,term,interestRate,installment,employmentLength,annualIncome,dti,delinquency_2years,ficoRangeLow,ficoRangeHigh,...,regionCode_47,regionCode_48,regionCode_49,regionCode_50,employmentTitle_cnts,employmentTitle_rank,postCode_cnts,postCode_rank,title_cnts,title_rank
0,14000.0,3,10.99,458.28,10.0,80000.0,10.56,1.0,715.0,719.0,...,0,0,0,0,50.0,9,998.0,202,491400.0,98066
1,20000.0,5,14.65,472.14,10.0,50000.0,21.40,2.0,670.0,674.0,...,0,0,0,0,1.0,1,5954.0,1172,55782.0,11034
2,12000.0,3,19.99,445.91,2.0,60000.0,33.50,0.0,710.0,714.0,...,0,0,0,0,2.0,1,1568.0,300,491400.0,98065
3,17500.0,5,14.31,410.02,4.0,37000.0,13.95,0.0,685.0,689.0,...,0,0,0,0,39.0,8,1689.0,340,185386.0,37175
4,35000.0,3,17.09,1249.42,0.0,80000.0,24.97,0.0,685.0,689.0,...,0,0,0,0,1.0,1,2616.0,536,491400.0,98064
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,7000.0,3,11.14,229.64,7.0,30000.0,32.92,0.0,685.0,689.0,...,0,0,0,0,1.0,1,2061.0,1,1.0,1
199996,6000.0,3,6.24,183.19,1.0,56000.0,20.38,0.0,720.0,724.0,...,0,0,0,0,2.0,1,2016.0,1,491400.0,2
199997,14000.0,5,15.88,339.57,8.0,80000.0,15.12,0.0,675.0,679.0,...,0,0,0,0,1.0,1,485.0,1,185386.0,2
199998,8000.0,3,18.06,289.47,4.0,190000.0,9.33,0.0,690.0,694.0,...,0,0,0,0,5634.0,1,5847.0,1,491400.0,1
199999,8000.0,3,6.68,245.85,7.0,46000.0,6.47,0.0,715.0,719.0,...,0,0,0,0,1392.0,1,9188.0,1,185386.0,1

In [34]:
# 建模和融合
def cv_model(clf, train_x, train_y, test_x, clf_name):
    folds = 3
    seed = 2020
    kf = KFold(n_splits=folds, shuffle=True, random_state=seed)

    train = np.zeros(train_x.shape[0])
    test = np.zeros(test_x.shape[0])

    cv_scores = []

    for i, (train_index, valid_index) in enumerate(kf.split(train_x, train_y)):
        print('************************************ {} ************************************'.format(str(i+1)))
        trn_x, trn_y, val_x, val_y = train_x.iloc[train_index], train_y[train_index], train_x.iloc[valid_index], train_y[valid_index]

        if clf_name == "lgb":
            train_matrix = clf.Dataset(trn_x, label=trn_y)
            valid_matrix = clf.Dataset(val_x, label=val_y)

            params = {
                'boosting_type': 'gbdt',
                'objective': 'binary',
                'metric': 'auc',
                'min_child_weight': 5,
                'num_leaves': 2 ** 5,
                'lambda_l2': 10,
                'feature_fraction': 0.8,
                'bagging_fraction': 0.8,
                'bagging_freq': 4,
                'learning_rate': 0.1,
                'seed': 2020,
                'nthread': 28,
                'n_jobs':24,
                'silent': True,
                'verbose': -1,
            }

            model = clf.train(params, train_matrix, 50000, valid_sets=[train_matrix, valid_matrix], verbose_eval=200,early_stopping_rounds=200)
            val_pred = model.predict(val_x, num_iteration=model.best_iteration)
            test_pred = model.predict(test_x, num_iteration=model.best_iteration)
            
            # print(list(sorted(zip(features, model.feature_importance("gain")), key=lambda x: x[1], reverse=True))[:20])
                
        if clf_name == "xgb":
            train_matrix = clf.DMatrix(trn_x , label=trn_y)
            valid_matrix = clf.DMatrix(val_x , label=val_y)
            test_matrix = clf.DMatrix(test_x)
            
            params = {'booster': 'gbtree',
                      'objective': 'binary:logistic',
                      'eval_metric': 'auc',
                      'gamma': 1,
                      'min_child_weight': 1.5,
                      'max_depth': 5,
                      'lambda': 10,
                      'subsample': 0.7,
                      'colsample_bytree': 0.7,
                      'colsample_bylevel': 0.7,
                      'eta': 0.04,
                      'tree_method': 'exact',
                      'seed': 2020,
                      'nthread': 36,
                      "silent": True,
                      }
            
            watchlist = [(train_matrix, 'train'),(valid_matrix, 'eval')]
            
            model = clf.train(params, train_matrix, num_boost_round=50000, evals=watchlist, verbose_eval=200, early_stopping_rounds=200)
            val_pred  = model.predict(valid_matrix, ntree_limit=model.best_ntree_limit)
            test_pred = model.predict(test_matrix , ntree_limit=model.best_ntree_limit)
                 
        if clf_name == "cat":
            params = {'learning_rate': 0.05, 'depth': 5, 'l2_leaf_reg': 10, 'bootstrap_type': 'Bernoulli',
                      'od_type': 'Iter', 'od_wait': 50, 'random_seed': 11, 'allow_writing_files': False}
            
            model = clf(iterations=20000, **params)
            model.fit(trn_x, trn_y, eval_set=(val_x, val_y),
                      cat_features=[], use_best_model=True, verbose=500)
            
            val_pred  = model.predict(val_x)
            test_pred = model.predict(test_x)
            
        train[valid_index] = val_pred
        test += test_pred / kf.n_splits
        cv_scores.append(roc_auc_score(val_y, val_pred))
        
        print(cv_scores)
       
    print("%s_scotrainre_list:" % clf_name, cv_scores)
    print("%s_score_mean:" % clf_name, np.mean(cv_scores))
    print("%s_score_std:" % clf_name, np.std(cv_scores))
    return train, test

In [35]:
def lgb_model(x_train, y_train, x_test):
    lgb_train, lgb_test = cv_model(lgb, x_train, y_train, x_test, "lgb")
    return lgb_train, lgb_test

def xgb_model(x_train, y_train, x_test):
    xgb_train, xgb_test = cv_model(xgb, x_train, y_train, x_test, "xgb")
    return xgb_train, xgb_test

def cat_model(x_train, y_train, x_test):
    cat_train, cat_test = cv_model(CatBoostRegressor, x_train, y_train, x_test, "cat") 
    return cat_train, cat_test

In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
from tqdm import tqdm
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.preprocessing import MinMaxScaler
import xgboost as xgb
from catboost import CatBoostRegressor
import warnings
from sklearn.model_selection import StratifiedKFold, KFold
from sklearn.metrics import accuracy_score, f1_score, roc_auc_score

In [37]:
import xgboost as xgb
from catboost import CatBoostRegressor
from sklearn.model_selection import StratifiedKFold, KFold
cat_train, cat_test=cat_model(x_train, y_train, x_test)

************************************ 1 ************************************
0:	learn: 0.3984623	test: 0.3975523	best: 0.3975523 (0)	total: 108ms	remaining: 36m 8s
500:	learn: 0.3769351	test: 0.3770554	best: 0.3770554 (500)	total: 35.7s	remaining: 23m 9s
1000:	learn: 0.3752492	test: 0.3763233	best: 0.3763233 (1000)	total: 1m 9s	remaining: 21m 55s
1500:	learn: 0.3740709	test: 0.3760069	best: 0.3760069 (1500)	total: 1m 42s	remaining: 21m 2s
2000:	learn: 0.3730236	test: 0.3758225	best: 0.3758225 (2000)	total: 2m 16s	remaining: 20m 24s
2500:	learn: 0.3720708	test: 0.3757140	best: 0.3757137 (2497)	total: 2m 49s	remaining: 19m 48s
3000:	learn: 0.3711864	test: 0.3756462	best: 0.3756462 (2999)	total: 3m 23s	remaining: 19m 12s
3500:	learn: 0.3703383	test: 0.3755974	best: 0.3755974 (3500)	total: 3m 57s	remaining: 18m 39s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.3755865903
bestIteration = 3652

Shrink model to first 3653 iterations.
[0.7306546727231054]
************************************ 2 ************************************
0:	learn: 0.3979272	test: 0.3985824	best: 0.3985824 (0)	total: 94ms	remaining: 31m 19s
500:	learn: 0.3765273	test: 0.3779416	best: 0.3779416 (500)	total: 36.2s	remaining: 23m 28s
1000:	learn: 0.3748763	test: 0.3771668	best: 0.3771668 (1000)	total: 1m 11s	remaining: 22m 27s
1500:	learn: 0.3736655	test: 0.3768420	best: 0.3768420 (1500)	total: 1m 45s	remaining: 21m 41s
2000:	learn: 0.3726383	test: 0.3766609	best: 0.3766609 (2000)	total: 2m 19s	remaining: 20m 54s
2500:	learn: 0.3717043	test: 0.3765466	best: 0.3765463 (2494)	total: 2m 53s	remaining: 20m 15s
3000:	learn: 0.3708382	test: 0.3764757	best: 0.3764749 (2987)	total: 3m 28s	remaining: 19m 40s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.3764244341
bestIteration = 3342

Shrink model to first 3343 iterations.
[0.7306546727231054, 0.7315856980535114]
************************************ 3 ************************************
0:	learn: 0.3980537	test: 0.3983216	best: 0.3983216 (0)	total: 91.4ms	remaining: 30m 28s
500:	learn: 0.3766349	test: 0.3777228	best: 0.3777228 (500)	total: 35.8s	remaining: 23m 12s
1000:	learn: 0.3750216	test: 0.3770067	best: 0.3770067 (1000)	total: 1m 10s	remaining: 22m 8s
1500:	learn: 0.3738476	test: 0.3766610	best: 0.3766610 (1500)	total: 1m 44s	remaining: 21m 25s
2000:	learn: 0.3728402	test: 0.3764502	best: 0.3764502 (2000)	total: 2m 18s	remaining: 20m 43s
2500:	learn: 0.3718901	test: 0.3763139	best: 0.3763137 (2498)	total: 2m 52s	remaining: 20m 3s
3000:	learn: 0.3710146	test: 0.3762333	best: 0.3762331 (2997)	total: 3m 26s	remaining: 19m 29s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.3762270297
bestIteration = 3075

Shrink model to first 3076 iterations.
[0.7306546727231054, 0.7315856980535114, 0.7310273240584796]
cat_scotrainre_list: [0.7306546727231054, 0.7315856980535114, 0.7310273240584796]
cat_score_mean: 0.7310892316116987
cat_score_std: 0.000382602012822371

In [38]:
print(cat_test)

[0.0807632  0.33550774 0.53093575 ... 0.24820325 0.21296796 0.00489546]

In [39]:
xgb_train, xgb_test=xgb_model(x_train, y_train, x_test)

************************************ 1 ************************************
[09:59:35] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:576:
Parameters: { "silent" } might not be used.

  This could be a false alarm, with some parameters getting used by language bindings but
  then being mistakenly passed down to XGBoost core, or some parameter actually being used
  but getting flagged wrongly here. Please open an issue if you find any such cases.


[0]	train-auc:0.69710	eval-auc:0.69480
[200]	train-auc:0.72912	eval-auc:0.72198
[400]	train-auc:0.73736	eval-auc:0.72601
[600]	train-auc:0.74306	eval-auc:0.72789
[800]	train-auc:0.74793	eval-auc:0.72896
[1000]	train-auc:0.75232	eval-auc:0.72958
[1200]	train-auc:0.75625	eval-auc:0.72994
[1400]	train-auc:0.75991	eval-auc:0.73021
[1600]	train-auc:0.76344	eval-auc:0.73051
[1800]	train-auc:0.76685	eval-auc:0.73052
[2000]	train-auc:0.77014	eval-auc:0.73067
[2200]	train-auc:0.77333	eval-auc:0.73064
[2301]	train-auc:0.77489	eval-auc:0.73067

C:\ProgramData\Anaconda3\lib\site-packages\xgboost\core.py:105: UserWarning: ntree_limit is deprecated, use `iteration_range` or model slicing instead.
  warnings.warn(

[0.7307979832627369]
************************************ 2 ************************************
[10:58:31] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:576:
Parameters: { "silent" } might not be used.

  This could be a false alarm, with some parameters getting used by language bindings but
  then being mistakenly passed down to XGBoost core, or some parameter actually being used
  but getting flagged wrongly here. Please open an issue if you find any such cases.


[0]	train-auc:0.69480	eval-auc:0.69409
[200]	train-auc:0.72866	eval-auc:0.72283
[400]	train-auc:0.73705	eval-auc:0.72701
[600]	train-auc:0.74281	eval-auc:0.72894
[800]	train-auc:0.74770	eval-auc:0.73007
[1000]	train-auc:0.75194	eval-auc:0.73076
[1200]	train-auc:0.75592	eval-auc:0.73129
[1400]	train-auc:0.75967	eval-auc:0.73167
[1600]	train-auc:0.76325	eval-auc:0.73183
[1800]	train-auc:0.76654	eval-auc:0.73200
[2000]	train-auc:0.76986	eval-auc:0.73212
[2134]	train-auc:0.77199	eval-auc:0.73211

C:\ProgramData\Anaconda3\lib\site-packages\xgboost\core.py:105: UserWarning: ntree_limit is deprecated, use `iteration_range` or model slicing instead.
  warnings.warn(

[0.7307979832627369, 0.7321492564574287]
************************************ 3 ************************************
[11:56:33] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:576:
Parameters: { "silent" } might not be used.

  This could be a false alarm, with some parameters getting used by language bindings but
  then being mistakenly passed down to XGBoost core, or some parameter actually being used
  but getting flagged wrongly here. Please open an issue if you find any such cases.


[0]	train-auc:0.69555	eval-auc:0.69532
[200]	train-auc:0.72865	eval-auc:0.72286
[400]	train-auc:0.73679	eval-auc:0.72677
[600]	train-auc:0.74254	eval-auc:0.72862
[800]	train-auc:0.74724	eval-auc:0.72973
[1000]	train-auc:0.75156	eval-auc:0.73052
[1200]	train-auc:0.75553	eval-auc:0.73103
[1400]	train-auc:0.75929	eval-auc:0.73151
[1600]	train-auc:0.76291	eval-auc:0.73178
[1800]	train-auc:0.76639	eval-auc:0.73199
[2000]	train-auc:0.76960	eval-auc:0.73213
[2200]	train-auc:0.77287	eval-auc:0.73218
[2400]	train-auc:0.77599	eval-auc:0.73224
[2593]	train-auc:0.77885	eval-auc:0.73218

C:\ProgramData\Anaconda3\lib\site-packages\xgboost\core.py:105: UserWarning: ntree_limit is deprecated, use `iteration_range` or model slicing instead.
  warnings.warn(

[0.7307979832627369, 0.7321492564574287, 0.7322084628856584]
xgb_scotrainre_list: [0.7307979832627369, 0.7321492564574287, 0.7322084628856584]
xgb_score_mean: 0.7317185675352746
xgb_score_std: 0.0006513999807690257

In [41]:
print(xgb_test)

[0.0828222  0.34248563 0.63229941 ... 0.2358606  0.19794326 0.02160325]